h2{
    font-size:40px;
    padding:.2em;
    font-family: 'Oswald', sans-serif;
    border:4 px white;
    color:rgb(166, 166, 255);
}
sector{
    font-size:2.5em;
    color:aqua;
    padding:2em;
    font-family: 'Kaushan Script', cursive;
}