body{
    /*this is the body, it hosts mostly the color and main settings of the page without edited html/css
    /*background-image:linear-gradient(to bottom, lightblue,rgb(132, 252, 252) , rgb(255, 255, 0), rgb(151, 98, 19), rgb(66, 0, 0));
    */
    color:black;
    background-color:#0C437E;
}

header{
    /*location settings*/
    top:0;
    padding-top:1em;
    padding-bottom:1em;
    height: 6em;
    width:100%;

    /*color settings*/
    background-color:#0C7C7E;
    position:fixed;

}
header > nav{
    display:flex;
    float:right;
}

span{

}
.name{
    display:inline-block;
    /*color settings*/
    color:rgb(239, 239, 104);
    text-shadow: 5px 2px #09851a;
    background-color: black;
    float:left;
    
    /*font settings*/
    font-size:2.5em;
    font-family: cursive;
    font-weight: 600;

    /*box settings*/
    padding:20px;
    margin-left:.5em;
    border-radius:5%;
    
}



.link-Bar{
    /*flex settings*/
    align-content:space-between;
    padding-top:1em;
    padding-left:1em;
    padding-right:1em;
    
    /*font settings*/
    font-size: 2em;
    font-weight:600;


    float:right;
}




/*footer class for flex box; */
.footer{

    bottom:0;
    /*flex settings*/
    display:flex;
    width:100%;
    align-content: space-evenly;
    justify-content:space-between;
    align-items:flex-end;

    /*color settings*/
    box-shadow:.7em .7em #146DA4;
    background-color:rgb(7, 143, 136);
    position:fixed;

    
}
/*footer box setup */
.footer > div{

    /*flex settings*/
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-content: center;
    justify-content: center;
    align-items:flex-end;

    /*location settings*/
    margin:2em;
    padding:1.25em;
    padding-top:2em;

    /*color settings*/
    box-shadow: .5em .5em .1em #0C7C7E;

}

a{
    text-decoration:none;
    color:black;
    font-family: 'Rubik Dirt', cursive;
    font-weight:300;
}
a.active{
    border-bottom:3px solid black;

}


main{
    margin:8em auto 14em;
}

